<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body class="bg">
        <%- include('../partials/headerAdmin.ejs', {username}) %>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                    <div class="card card-signup z-depth-0 text-center bg-light">
                        <div class="card-body">
                            <br><br>
                            <h2>Update Profile</h2>
                            <form action="/admin/<%= username %>" method="post">
                                <label>First Name </label><br>
                                <input type="text" value="<%= result.first_name %>"><br>
                                <label>Last Name</label><br>
                                <input type="text" name="last_name" value="<%= result.last_name %>"><br>
                                <label>Username</label><br>
                                <input type="text" name="username" value="<%= result.username %>"><br><br>
                                <input type="submit" value="Change"><br><br>
                            </form>
                        </div>
                    </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    <%- include('../partials/jquery.ejs') %>
</body>
</html>