<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body class="bg">
            <%- include('../partials/headerAdmin.ejs', {username}) %>
            <br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <div class="card card-signup z-depth-0 bg-light text-center">
                            <div class="card-body">
                                    <h2>Update Destination</h2>
                                    <form action="/admin/update/<%= result.id %>/train" method="post">
                                        <label>Name : </label><br>
                                        <input type="text" name="name" value="<%= result.name %>"><br>
                                        <input type="submit" value="Change">
                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <%- include('../partials/jquery.ejs') %>
    </body>
</html>