<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form action="/update/<%= result.id %>/train" method="post">
        <label>Name : </label><br>
        <input type="text" name="name" value="<%= result.name %>"><br>
        <label>Destination</label><br>
        <select name="DestinationId">
            <% destinations.map(data => { %>
                <% if(result.DestinationId === destinations.id){ %>
                    <option value="<%= data.id %>" selected><%= data.name %></option>
                <%} else {%> 
                    <option value="<%= data.id %>"><%= data.name %></option>
                <%}%>
            <%})%>
        </select><br>
        <label>Departure</label><br>
        <select name="departure">
            <% if(result.derpature === 'Pagi'){ %>
                <option value="Pagi" selected>Pagi</option>
                <option value="Malam">Malam</option>
            <%} else if(result.derpature === 'Malam'){ %>
                <option value="Pagi">Pagi</option>
                <option value="Malam" selected>Malam</option> 
            <%}%>
        </select><br>
        <label>Price</label><br>
        <input type="number" name="price" value="<%= result.price %>"><br>
        <label>Number of Seat</label><br>
        <input type="number" name="seats" value="<%= result.seats %>"><br>
        <input type="submit" value="Change">
    </form>
</body>
</html>