<!doctype html>
<html lang="en">
  <head>
   <%- include('../partials/head.ejs')%>
  </head>
  <body>
      <center>
          <h1>Buy Confirmation</h1>
          <br>
          <br>
      
          <!-- <h3>Train Name : <%=information.name%></h3><br>
          <h3>Departure : <%=information.derpature%></h3><br>
          <h3> Price : <%=information.price%></h3><br> -->
          
          <form action="/passanger/<%=information.id%>/buy" method="POST">
            <!-- <%=information.price%> -->
            ID: <input type="text" name="id" value="<%=information.id%>" readonly><br>
            Train Name : <input type="text" name="name" value="<%=information.name%>" readonly><br>
            Departure : <input type="text" name="derpature" value="<%=information.derpature%>" readonly><br>
            Price : <input type="text" name="price" value="<%=information.price%>" readonly><br>
            <input type="submit">
          </form>
      </center>


    <form action="/passanger/search" method="POST">
      Mau Kemana? <br>
      <input type="text" name="destination">
      <input type="submit" value="GO!">
  </form>
    <br>
  </body>
</html>