<!doctype html>
<html lang="en">
  <head>
   <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <center>
      <h1>Welcome <%=userLogin.first_name%> <%=userLogin.last_name%></h1>
      <br>
      <br>
      <form action="/passanger/search" method="POST">
        Mau Kemana? <br>
        <input type="text" name="destination">
        <input type="submit" value="GO!">
      </form>
      <br>
      <br>    
      <a href="/passanger/profile"><input type="button" value=" Edit Profile"></a>
      <br>
      <br>      
        
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Train</th>
              <th scope="col">Departure</th>
              <th scope="col">Seat Number</th>
            </tr>
          </thead>
          <tbody>
            <% ticketsTrains.forEach(ticket => {%>
              <tr>
                <td><%=ticket.name%></td>
                <td><%=ticket.derpature%></td>
                <td><%=ticket.seat_number%></td>
                <td><a href="/passanger/<%=ticket.idTrain%>/<%=ticket.seat_number%>/delete"><input type="button" value="DELETE"></a></td>
              </tr>
            <%})%>
          </tbody>
        </table>s
    </center>
  </body>
</html>