<!doctype html>
<html lang="en">
  <head>
   <%- include('../partials/head.ejs')%>
  </head>
  <body>
      <center>
          <h1>Edit Profile</h1>
          <br>
          <br>          
          <form action="/passanger/profile" method="POST">
            First Name: <input type="text" name="first_name" value="<%=userLogin.first_name%>" readonly><br>
            Last Name : <input type="text" name="last_name" value="<%=userLogin.last_name%>"><br>
            Balance : <input type="text" name="balance" value="<%=userLogin.balance%>" ><br>
            Username : <input type="text" name="username" value="<%=userLogin.username%>" ><br>
            Password : <input type="password" name="password" value="<%=userLogin.password%>" ><br>
            <input type="submit">
          </form>
      </center>
    <br>
  </body>
</html>