<!doctype html>
<html lang="en">
  <head>
   <%- include('../partials/head.ejs')%>
  </head>
  <body class="bg"> 
    <%- include('../partials/header.ejs')%>
    <br><br><br><br>
        <div class="container">
            <center>
                <h1 class="display-1" style="color: aliceblue;">Train List</h1>
            </center>
                <table class="table text-center">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="7">Train</th>
                        </tr>
                        <tr>
                            <th scope="col">Train ID</th>
                            <th scope="col">Train Name</th>
                            <th scope="col">Depart</th>
                            <th scope="col">Price</th>
                            <th scope="col">Buy Now?</th>
                        </tr>
                    </thead>
                    <tbody class="table-light table-stripped table-hover">
                        <% trains.forEach( train => {%>
                          <tr>
                            <th scope="row"><%= train.id%></th>
                            <td><%= train.name%></td>
                            <td><%= train.derpature%></td>
                            <td><%= formatCurrency(train.price)%></td>
                            <td><a href="/passanger/<%= train.id%>/buy"><input type="button" value="YES"></a></td>
                          </tr>
                        <%})%>
                    </tbody>
                </table>
                <a href="/passanger"><input type="button" value="Back to Home"></a>
        </div>
        <%- include('../partials/jquery.ejs') %>
  </body>
</html>